<article class="section2">

	<div class="section-inner">

		<h2 class="title {{title.colourClass}}">
			{{title.text}}
		</h2>

		<div class="body {{body.colourClass}}">
			{{body.text}}
		</div>

		<div class="register">
			{{> button-link href=link.href text=link.text }}
		</div>

	</div>

</article>
