<article class="section4">

	<div class="section-inner">

		<div class="sponsors">
			{{#each content.section4.sponsors}}
				<div class="item">
					<img class="item-image" src="{{content.section4.src}}" alt="Doggy" />
				</div>
			{{/each}}
		</div>

	</div>

</article>
