<article class="section4">

	<div class="section-inner">

		<div class="sponsors">
			{{#each sponsors}}
				<div class="item">
					<img class="item-image" src="{{src}}"  />
				</div>
			{{/each}}
		</div>

	</div>

</article>
