<article class="tile tile-onebyone">
	<a href="{{href}}"  data-track="tech-shop-motorola+1x2">
		<div class="tile__hero">
			<img src="https://images1.unidays.world/perks/native/twoxone/036854d5-2ce9-4c6f-9b94-77c5cb33cc35" alt="Motorola">
		</div>
		<div class="tile__inner">
			<div class="tile__logo">
				<picture>
					<source srcset="{{image}}" type="image/svg+xml">

					<img src="{{image}}" alt="{{alt}}">
				</picture>
			</div>
			{{> tile-discount }}
		</div>
	</a>
</article>